<div class="container">
  <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">

<h3>以下の内容で、送信する。</h3>

<%= form_for(@instagram) do |f| %>
  <!-- `f.hidden_field`を使用して、リクエストパラメータに値を設定できるようにしています。 -->
  <%= f.hidden_field :title %>
  <%= f.hidden_field :content %>
  <%= f.hidden_field :image %>
  <%= f.hidden_field :image_cache %>

  <!-- @blog.titleと@blog.contentとすることで、表示用の値を画面に出力しています。 -->
  <p>タイトル:<%= @instagram.title %></p>
  <p>本文:<%= @instagram.content %></p>
  <p>画像:<%= image_tag(@instagram.image) %></p>
  <%= f.submit "登録",class: 'btn btn-primary btn-block' %>
<% end %>

<%= form_for(@instagram, url: new_instagram_path, method: 'get') do |f| %>
  <%= f.hidden_field :title %>
  <%= f.hidden_field :content %>
  <%= f.hidden_field :image %>
  <%= f.hidden_field :image_cache %>
  <%= f.submit "もどる",name:'back', class: 'btn btn-default btn-block' %>
<% end %>
</div>
</div>
