<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
<p class="flash"><%= notice %><%= alert %></p>

<h1>投稿画像一覧</h1>

<%= link_to "画像を投稿する", new_instagram_path,class:'btn btn-default'%>

<% @instagrams.each do |instagram| %>
<div class="row">
  <h4><strong>タイトル：<%= instagram.title %></strong></h4>
   <p>内容：<%= instagram.content %></p>
   <p>作成者: <%= instagram.user.name %><p>
<%= link_to "編集", edit_instagram_path(instagram.id), class: 'btn btn-default btn-sm btn-success' %><br>
<%= link_to "削除", instagram_path(instagram.id), method: :delete, data: { confirm: '本当に削除していいですか？'} , class: 'btn btn-default btn-sm btn btn-danger' %>
</div>
<% end %>
</div>
</div>
